# Environment variables & secrets
.env
*.env

# Python cache & virtual environments
__pycache__/
*.pyc
.venv/
venv/

# Downloaded raw media & temporary frames
downloads/
*.aac
*.m4a
*.png
*.jpg
*.jpeg

# Logs
logs/
*.log
